# {{ ansible_managed }}

ssl_prefer_server_ciphers on;

{% if merchantly_nginx_ssl %}
  {% if merchantly_nginx_ssl_certificate is defined %}
    {% if merchantly_nginx_ssl_certificate_key is defined %}
ssl_certificate {{ merchantly_nginx_ssl_certificate }};
ssl_certificate_key {{ merchantly_nginx_ssl_certificate_key }};
    {% endif %}
  {% endif %}
{% endif %}

